#### Finding some interesting user to test my ALS recommender

In [15]:
import pandas as pd

In [16]:
articles_df = pd.read_csv('dataset/datas/articles.csv')
customer_df = pd.read_csv('dataset/datas/customers.csv')
transaction_df = pd.read_csv('dataset/datas/transactions_train.csv')

In [17]:
articles_df.groupby('index_name').size().reset_index(name='interaction_count')

                       index_name  interaction_count
0                Baby Sizes 50-98               8875
1  Children Accessories, Swimwear               4615
2          Children Sizes 134-170               9214
3           Children Sizes 92-140              12007
4                         Divided              15149
5              Ladies Accessories               6961
6                      Ladieswear              26001
7                Lingeries/Tights               6775
8                        Menswear              12553
9                           Sport               3392

In [18]:
menswear = articles_df[articles_df['index_name'] == 'Menswear']
menswear_id_list = menswear['article_id']

In [19]:
menswear_transaction = transaction_df[transaction_df['article_id'].isin(menswear_id_list)]

In [20]:
menswear_transaction

,t_dat,customer_id,article_id,price,sales_channel_id
44,2018-09-20,001127bffdda108579e6cb16080440e89bf1250a776c6e...,397068015,0.033881,1
83,2018-09-20,005c9fb2ba6c49b2098a662f64a9124ef95cbec5fcf4eb...,660150001,0.005068,2
96,2018-09-20,0077ba345ef6aa8781802107df25bbb8a14fdcd04130c3...,534795002,0.011864,1
156,2018-09-20,00cf4505ba84c01f03c47829352054483acb59a9492ed0...,564358023,0.033881,2
157,2018-09-20,00cf4505ba84c01f03c47829352054483acb59a9492ed0...,564358021,0.033881,2
...,...,...,...,...,...
31788044,2020-09-22,fd77243cd94d48f4bb06d5b9b717ed9dea16573b6f8bff...,715828017,0.033881,1
31788172,2020-09-22,fe9c516dacd05eafc0708ca690097448a72e11c57207f1...,795243003,0.025407,1
31788173,2020-09-22,fe9c516dacd05eafc0708ca690097448a72e11c57207f1...,685813043,0.016932,1
31788272,2020-09-22,ff594ca1a16b0a446b144953aac8dcc3b48803ea605c03...,685813043,0.016932,1
31788274,2020-09-22,ff594ca1a16b0a446b144953aac8dcc3b48803ea605c03...,685813039,0.016932,1

In [21]:
top_menswear_customer = menswear_transaction.groupby('customer_id').size().reset_index(name='ntransac').sort_values(by='ntransac', ascending=False)

In [30]:
print(top_menswear_customer.loc[176310]['customer_id'])

84eba3a874e7b5660ee2803fe64ce82954a2beb56e39ed9a561e01889b9b82b8